@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Italian Plate";
  src: url("../public/fonts/ItalianPlateNo2-Light.otf");
}

body {
  font-family: "Italian Plate", "Inter", Arial, sans-serif;
}
